/************Message**********************/

.conversation {
  display: flex;
  margin-top: 4px;
  padding: 0 16px;
  margin-bottom: 12px;
  .wrapperMessage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 10px;
    padding: 12px;
    min-width: 32px;
    max-width: 100% -38px;
    background-color: #f5f7fb;
    border-radius: 8px;
    .author {
      font-size: 13px;
      color: #72808e;
      margin-bottom: 6px;
    }
    .date {
      font-size: 11px;
      color: #a7a7a7;
      margin-top: 10px;
    }
  }
}

.container {
  display: flex;
  margin-top: 4px;
  padding: 0 16px;
  margin-bottom: 12px;
  .chatMessage {
    width: 424px;
    margin: 0px 10px;
    .imageContainer {
      display: flex;

      .customImage:global(.ant-image-img) {
        width: 100px;
        height: 100px;
        border-radius: 5px;
        object-fit: cover;
        object-position: center center;
        vertical-align: middle;
      }
    }
  }
}

.right {
  flex-direction: row-reverse;
}
